.editor * {
  box-sizing: border-box;
}
.editor {
  padding: 5px;
  min-height: 300px;
  cursor: text;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 14px;
}
.editor + textarea {
  background-color: transparent;
  width: 100px;
  height: 100px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.line {
  --line-height: 20px;
  height: var(--line-height);
  line-height: var(--line-height);
  background-color: transparent;
  position: relative;
  padding-left: 32px;
  min-width: 100%;
  display: inline-block;
}
.line--number {
  width: 30px;
  cursor: default;
  background-color: #dadbdc;
  position: absolute;
  top: 0;
  left: 0;
  line-height: var(--line-height);
  text-align: center;
}
.line--content {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  display: inline-block;
  position: relative;
  z-index: 2;
  margin: 0;
  line-height: var(--line-height);
  vertical-align: middle;
}
.line--cursor {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  line-height: var(--line-height);
}
.line--selected {
  display: inline-block;
  vertical-align: middle;
  height: var(--line-height);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .1);
}

.line::after {
  content: '';
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.line--focused {
  background-color: rgba(230, 230, 230, .5);
}
.line--focused .line--cursor {
  display: inline-block;
  position: absolute;
  content: '';
  width: 2px;
  height: var(--line-height);
  background-color: #0ae;
  animation: focus 1s infinite;
  margin-left: 1px;
  vertical-align: middle;
}
@keyframes focus {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
}
